@import '../../../themes';


img{
    max-width: 25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: sub;
}

table{
    margin: auto;
    border-spacing: 1.5rem;
    border-collapse: separate;

}

.rank_1 .honor{
    font-size: 0;
    &::before {
        font-size: 1.5rem;
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-trophy);
        color: gold;
        vertical-align: sub;
    }
}


.rank_2 .honor{
    font-size: 0;
    &::before {
        font-size: 1.5rem;
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-medal);
        color: silver;
        vertical-align: sub;
    }
}


.rank_3 .honor{
    font-size: 0;
    &::before {
        font-size: 1.5rem;
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-medal);
        color: rgb(205, 127, 50);
        vertical-align: sub;
    }
}