<table>
    <tr *ngFor="let score of result.scores" [ngClass]="'rank_'+score.rank">
        <td class="honor">{{score.rank}}</td>
        <td><img [src]="score.player?.profilePicture?.url" alt="profile" /></td>
        <td>{{score.player?.name}}</td>
        <td>{{score.score}}</td>
    </tr>
</table>