<h1>Shortcuts quiz</h1>
<nav>
  <a class="home" [routerLink]="['/']">home</a>
  <a class="rooms" [routerLink]="['/rooms']">rooms</a>



  <div class="connection">
    <div *ngIf="!!authenticator.user">
      <a class="profile" [routerLink]="['/profile']">{{ authenticator.user.username }}</a>
      <button class="logout" (click)="disconnect()">Sign Out</button>
    </div>
    <div *ngIf="!authenticator.user">
      <button class="login" [routerLink]="['/login']">Sign In</button>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>