@import '../themes';


nav{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1rem;
    display: block;

    a, button{
        display: inline-block;
        margin: 1rem;
    }

    div, .profile{
        margin: 0px;
        padding: 0px;
    }

    a, a:link{
        color: $primary-color;
        font-size: 0;
        text-decoration: none;
        &::before {
            font-size: $icon-size;
            @extend %fa-icon;
            @extend .fas;
        }
    }
    a.profile, a.profile:link{
        color: $secondary-color;
        font-size: inherit;
        font-family: "BaroqueScriptRegular";
        text-transform: capitalize;
    }
    button{
        color: $primary-color;
       
        font-size: 0;
        border: none;
        background: none;
        cursor: pointer;
        &::before, &::after {
            font-size: $icon-size;
            @extend %fa-icon;
            @extend .fas;
        }
    }


    .home::before{
        content: fa-content($fa-var-house);
    }

    .rooms::before{
        content: fa-content($fa-var-gamepad);
    }

    .connection{
        font-size: calc($icon-size - 1rem);
        float: right;
        color: $secondary-color;

    }
    .login{
        &::before {
            content: fa-content($fa-var-user);
        }
    }
    .logout{
        &::before {
            content: fa-content($fa-var-arrow-right-from-bracket);
        }
    }
}


