<h2>Room : {{room?.id}}</h2>

<div *ngIf="!result">

    

    <app-players *ngIf="room && room.players" [players]="room.players"></app-players>


    <button class="start" (click)="start()" *ngIf="!started && room && room.players" [ngClass]="{'ready': room.players.length >= 1 && !starting}">Start</button>

    <div *ngIf="question">

        <p class="question">What is the shortcuts for <span>{{question.description}}</span>?</p>

        <app-timer *ngIf="startAt && deadline" [start]="startAt" [deadline]="deadline" [found]="currentFound"></app-timer>

        <ul class="response" >
            <li *ngFor="let element of currentShortcut" >
                {{ element }}
            </li>
        </ul>
    </div>
</div>

<app-scoreboard [result]="result" *ngIf="result"></app-scoreboard>