
@import '../../../themes';
ul{
    text-align: center;
}
li {
    display: inline-block;
    
    width: min-content;
    margin-left: 2rem;
    margin-right: 2rem;
    
    font-family: "BaroqueScriptRegular";
    text-transform: capitalize;
}
img{
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $secondary-color;
}
