


<form (ngSubmit)="updateProfile()"  >

    <label>
        <img [src]="player?.profilePicture?.url" />
        <input  type="file" accept="image/jpeg" (change)="onFileSelected($event)"/>  
    </label>

</form>
<h2>{{player?.name}}</h2>

