
@import '../../../themes';

h2{
    text-align: center;
    color: $primary-color;
    font-size: 3rem;
}

label{
    text-align: center;
    max-width: 300px;
    margin: auto;
    display: block;
}
img{

    border-radius: 50%;
    height: 300px;
    background-color: $secondary-color;
}



input{
    display: none;
}