
<fieldset>
    <legend>Existing rooms</legend>
    <ul>
        <li class="room" *ngFor="let room of rooms" (click)="connectToRoom(room.id)">
            
            
             <app-players *ngIf="room && room.players" [players]="room.players"></app-players>
            <p class="id">{{ room.id }}</p>
        </li>
    
    
    </ul>
    <p *ngIf="loading" class="loading">loading</p>
    <p class="empty" *ngIf="!loading && rooms.length ===0">
        No rooms
    </p>
</fieldset>

<button class="new" (click)="createRoom()" [ngClass]="{'ready': !creating}">New room</button>