@import '../../../themes';

.new{
    color: gray;
    font-size: 0;
    &::before {
        font-size: $icon-size;
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-plus);
    }

    text-align: center;
    margin: auto;
    display: block;
    margin-top: 2rem;
    &.ready{
        color: green;
    }

}

.loading{

    color: $secondary-color;
    font-size: 0;
    &::before {
        font-size: $icon-size;
        @extend %fa-icon;
        @extend .fas;
        content: fa-content($fa-var-spinner);
    }
}

fieldset{
    border: 1px solid $secondary-color;
    border-radius:2rem;
    color: $secondary-color;
    legend{
        display: inline-block;
        width: auto;
        margin-left: 1.5rem;
    }
}

.empty, .loading{
    display: block;
    margin: auto;
    width: auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.room{
    margin: 1rem;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    border-radius:2rem;
    cursor: pointer;
    color: white;
    padding: 1.5rem;
    position: relative;

    .id{
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 0.7rem;
    }
    
}