
$primary-color:#ce33ff;
$secondary-color:#0b808a;
$icon-size: 2.5rem;



$fa-font-path: "../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";


h1{
    font-size: 2em;
    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 1em;
    color: $secondary-color;
    font-weight: bold;
    font-family: BaroqueScriptRegular;
}

