
@import 'scss-reset/src/scss/_reset.scss';
@import '~@aws-amplify/ui-angular/theme.css';



@font-face {
    font-family: "BaroqueScriptRegular";
    font-style: normal;
    font-weight: normal;
    src: local("☺"), url("/assets/fonts/baroquescript-webfont.woff") format("woff"), url("/assets/fonts/baroquescript-webfont.ttf") format("truetype"), url("/assets/fonts/baroquescript-webfont.svg#webfont8IIwfpex") format("svg");
}

/* manage dark thème */
body{
    background-color: black;
    color: white;
    padding: 10px;
}
@media (prefers-color-scheme: light) {
    body{
        background-color: white;
        color: black;
    }
}
